{% extends "base.html" %}
{% block content %}
    {% if transactions %}
        <h1 class="text-center mb-3 font-weight-bold">Transactions</h1>
        <div class="table-responsive">
            <table class="table text-center table-light table-hover table-bordered border-dark table-striped mb-5">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <th class="d-flex justify-content-center align-content-center" scope="row">{{ forloop.counter }}</th>
                        <td>{{ transaction.sender_email }}</td>
                        <td>{{ transaction.receiver_email}}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div style="text-align: center;" class="d-flex justify-content-center align-content-center">
            <p class="placeholder-glow" style="font-size: 24px; font-weight: bold;">No Transactions Found</p>
        </div>
    {% endif %}
{% endblock %}
