{% extends "base.html" %}
{% block content %}
    {% if transactions %}
        <h1 class="text-center mb-3 font-weight-bold">Transactions</h1>
        <div class="table-responsive">
            <table class="table text-center table-light table-hover table-bordered border-dark table-striped mb-5">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <th scope="col">Sender Amount</th>
                            <th scope="col">Receiver Amount</th>
                            <th scope="col">Sender Currency</th>
                            <th scope="col">Receiver Currency</th>
                        {% else %}
                            <th scope="col">Amount</th>
                            <th scope="col">Currency</th>
                        {% endif %}
                    {% endif %}
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <th class="d-flex justify-content-center align-content-center" scope="row">{{ forloop.counter }}</th>
                        <td>{{ transaction.sender_email }}</td>
                        <td>{{ transaction.receiver_email }}</td>
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <td>{{ transaction.sender_amount }}</td>
                                <td>{{ transaction.receiver_amount }}</td>
                                <td>{{ transaction.sender_currency }}</td>
                                <td>{{ transaction.receiver_currency }}</td>
                            {% elif user.email == transaction.receiver_email %}
                                <td>{{ transaction.receiver_amount }}</td>
                                <td>{{ transaction.receiver_currency }}</td>
                            {% else %}
                                <td>{{ transaction.sender_amount }}</td>
                                <td>{{ transaction.sender_currency }}</td>
                            {% endif %}
                        {% endif %}
                        <td>{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="text-center">
            <p class="placeholder-glow" style="font-size: 24px; font-weight: bold;">No Transactions Found</p>
        </div>
    {% endif %}
{% endblock %}
