{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-3 font-weight-bold">Users</h1>
    <table class="table text-center table-light table-hover table-bordered border-dark table-striped mb-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{ user.email}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}